.img {
  background-size: cover;
  background: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  align-items: center;
}
.card-content {
  height: 50px;
  padding: 10px;
}
.card {
  margin: 5px;
  width: 270px;
  border: 2px solid $light-gray;
  border-radius: 5px;
  box-shadow: 5px $unpeumoinslight-gray;
  background: $light-gray;
}
.card-actions {
  padding: 10px;
  width: 270px;
}
.card-content-container {
  align-items: center;
  padding: 5px;
}
