.card {
  margin: 5px;
  width: 270px;
  border: 2px solid $light-gray;
  border-radius: 5px;
  box-shadow: 5px $unpeumoinslight-gray;
  background: $white;
  -webkit-transition: -webkit-transform 1s;
         -moz-transition: -moz-transform 1s;
           -o-transition: -o-transform 1s;
              transition: transform 1s;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
  backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.card-img {
  background-size: cover;
  background: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  align-items: center;
  height: 200px;
}
.card-content {
  height: 10px;
  padding: 10px;
  margin: 10px;
}
.card-actions {
  padding: 10px;
  width: 270px;
  color: #F4F4F4;
  text-align: left;
}
.card:hover {
    transform:rotateY(180deg);
  }
.row {
  margin-top: 50px;
  margin-bottom: 50px;
}
.card a {
  text-decoration: none;
  color: $gray;
  padding: 10px;
  width: 100px;
  opacity: 0.9;
}

#home-cocktails {
  align-items: center;
/*  padding: 5px 10px;
  margin: 50px;*/
/*  width: 95%;*/
}

#front {
  background: white;
  }
#back {
  background: white;
    -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
  }
